/_testemails
/attachmentable
/dbdoc
/messages.properties
/messages_fr.properties
/spring-security-core.properties
/spring-security-core_de.properties
/spring-security-core_fr.properties
/aclClass
/aclEntry
/aclObjectIdentity
/aclSid
/com
/elearning
/grails
/hibernate
/includes
/layouts
/login
/messages.spring-security-ui.properties
/openIdLogin
/org
/persistentLogin
/register
/registrationCode
/requestmap
/role
/securityInfo
/spring
/user
